<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NeuraHealth</title>
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/h7Btbz8/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style>
        body{
            background-image: url('https://dashboard.qiscus.com/images/dashboard/image-wave.svg');	
        }
    </style>
<body>

    <nav class="navbar navbar-dark fixed-top bg-success shadow">
        <img src="https://i.ibb.co/h7Btbz8/favicon.png" height=40 width=40>
        <a class="navbar-brand" style="margin: auto;" href="#">Beranda Diabetes</a>
    </nav>

    <div class="row justify-content-center">
        <div class="col-2 bg-light" style="padding-top:150px; max-height: 100%;" >
            <div class="container-fluid">
            <div class="nav flex-column nav-pills" role="tablist" style="max-width: 100%;">
                <a class="nav-link active" data-toggle="pill" href="#">Beranda Diabetes</a>
                <a class="nav-link" data-toggle="pill" href="{{ url_for('diabetes_data') }}">Data Diabetes</a>
                <a class="nav-link" data-toggle="pill" href="{{ url_for('diabetes_input') }}">Input Diabetes</a>
                <a class="nav-link" data-toggle="pill" href="{{ url_for('home') }}">Kembali ke Beranda</a>
            </div>
            </div>
        </div>

        <div class="col-10">
            <div class = "col-md-12 mt-4">
                <div class="row justify-content-center">
                    <img src="https://i.ibb.co/ssCZ19m/dokter.png" height=40% width=40%>
                </div>              
            </div>

            <div class="row justify-content-center">  
            <div class="col-md-6">
                <div class="card bg-white text-center">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                                        
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                                
                            <button type="submit" class="btn btn-success shadow">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>