<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NeuraHealth</title>
  <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/h7Btbz8/favicon.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
 
<style>

body{
    background: linear-gradient(to left, whitesmoke 50%, #90EE90 50%);
}

.box{
    width: 600px;
    margin: auto;
    margin-bottom: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background: rgba(248, 248, 255, 0.2);
    border-radius: 5px;
    /* font-family: 'Century Gothic', sans-serif; */
}

.boxdata{
    width: 400px;
    margin: auto;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

</style>

<body>

  <nav class="navbar navbar-light bg-success fixed-top shadow" >
      <img src="https://i.ibb.co/h7Btbz8/favicon.png" height=40 width=40>
      <a class="navbar-brand" style="margin: auto; color:white; letter-spacing: 4px; font-weight: bold;" href="#">INPUT DATA</a>
      <a href="{{url_for('malaria_home')}}" class="btn btn-outline-light my-2 my-sm-0" style="text-decoration: none; letter-spacing: 2px;">HOME</a>
  </nav>
  
  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row" style="margin-top: 100px;">

    <div class="col-6">        
        <center style="font-size:25px; font-family: 'Century Gothic', sans-serif;">DIAGNOSA PENYAKIT TUMOR OTAK</center>
        <hr style="width:50%; color: black">
        
    </div>

    <div class="col-6">
        <center style="font-size:25px; font-family: 'Century Gothic', sans-serif;">DATA PASIEN</center>
        <hr style="width:50%; color: black">
    </div>

  </div>

  <form action="POST">

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-6" style="line-height: 50px;">
        <div class="box">
            <div style="display: flex; flex-direction: column;  align-items: center; margin-top: 1em;">
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <label for="imageUpload" class="upload-label">
                        Pilih file...
                    </label>
                    <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
                </form>
               
                <div class="image-section" style="display:none;">
                    <div class="img-preview">
                        <div id="imagePreview">
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column;  align-items: center; margin-top: 2em;">
                        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                    </div>
                </div>
        
                <div class="loader" style="display:none;"></div>
        
                <h3 id="result">
                    <span> </span>
                </h3>
        
            </div>

        </div>
      </div>

      <div class="col-6" style="line-height: 50px;">
        
        <div class="boxdata">
          <table>
            <tr>
              <td>Nama</td>
              <td><input type="text" name="name" class="form-control"></td>
            </tr>

            <tr>
              <td>Tempat Lahir</td>
              <td><input type="text" name="birthPlace" class="form-control"></td>
            </tr>

            <tr>
              <td>Tanggal Lahir</td>
              <td><input type="date" name="birthDate" class="form-control"></td>
            </tr>

            <tr>
              <td>Nomor KTP</td>
              <td><input type="text" name="noKtp" class="form-control"></td>
            </tr>

            <tr>
              <td>ID Pasian</td>
              <td><input type="text" name="idPasien" class="form-control"></td>
            </tr>

            <tr>
              <td>Alamat</td>
              <td><input type="textarea" name="address" class="form-control"></td>
            </tr>
              
            <tr>
              <td>Jenis Kelamin</td>
              <td>
                <div class="pl-3 mb-5 bg-white rounded border">
                    <input type="radio" name="gender" value="male"> Laki-laki<br>
                    <input type="radio" name="gender" value="female"> Perempuan<br>
                </div>
              </td>
            </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 10px; margin-bottom: 50px;">
    <button type="button" class="btn btn-success btn-lg shadow" style="width: 500px;">SUBMIT</button>
  </div>
    
  </form>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>