{% extends 'Layout_Setelah_Login.html' %}             <!-- MEMUAT TEMPLATE DARI layout.html -->
{% block title %}Profil{% endblock %}  <!-- NAMA TAB = Profile -->

{% block content %}     <!-- MEMUAT BAGIAN TEMPLATE KONTEN DARI layout.html -->
<h2>Profil Rumah Sakit</h2>
<div><p>
    <div class=profile_pict>
        <img src="{{url_for('static', filename='img/profile.svg')}}" height=65% width=65%>
    </div>

    <div class=profile_descr>
        Ini adalah detail akun Anda :
        <table>
            <!-- DATA-DATA DI BAWAH INI DIAMBIL DARI DATABASE -->
            <tr>
                <td>Nama Pengguna</td>
                <td>: {{ account['doctor_name'] }}</td>
            </tr>

            <tr>
                <td>Sandi Lewat</td>
                <td>: {{ account['pass_word'] }}</td>
            </tr>

            <tr>
                <td>Surat Elektronik</td>
                <td>: {{ account['email'] }}</td>
            </tr>
             <tr>
                <td>Nama Rumah Sakit</td>
                <td>: {{ account['hospital_name'] }}</td>
            </tr>
             <tr>
                <td>Kode Rumah Sakit</td>
                <td>: {{ account['hospital_code'] }}</td>
            </tr>

        </table>
    </div><br><br><br><br><br><br><br><br><br><br><br></p>
</div>
<center><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fas fa-hand-point-down"></i> Edit Data</button></center>
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
           <div class="modal-content">   
              <div class="modal-body">
                <form method="POST">
                    <div class="form-group"><center>
                      <label for="exampleInputPassword1">Hanya data ini yang dapat diubah</label><br></center>
                      <input class="form-control" placeholder="Surel" name="email" type="text"><br>
                      <input class="form-control" placeholder="Sandi lewat" name="password" type="text"><br>
                      <input class="form-control" placeholder="Nama Rumah Sakit" name="hos_name" type="text"><br>
                      <center><input type="submit" class="btn btn-success" value="Ubah Data">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button></center>
                    </div>
                </form>
              </div>
           </div>
        </div>
      </div>
{% endblock %}